@model Farmbook.Models.software

@{
    Layout = "~/Views/Shared/_Layaccount.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FARMBOOK - ลบทะเบียนซอฟต์แวร์</title>
</head>
<body>
    <br />
    <div class="container">
        <div class="row justify-content-md-center">
            <h3>คุณแน่ใจที่จะลบข้อมูลใช่หรือไม่</h3>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="container">
                    <div class="form-actions no-color">
                        <a type="button" class="btn btn-danger" href="@Url.Action("IndexSum", "Equipment")">
                            <span>
                                ยกเลิก
                            </span>
                        </a>
                        <input type="submit" value="ลบ" class="btn btn-success me-md-2" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        <hr />
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="card" style="width: 50rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            @Html.DisplayNameFor(model => model.softwareType) :
                            @Html.DropDownListFor(model => model.softwareType, (IEnumerable<SelectListItem>)ViewBag.softwaretypes, "เลือกประเภทซอฟต์แวร์", htmlAttributes: new { @class = "form-control" })
                        </li>
                        <li class="list-group-item">
                            @Html.DisplayNameFor(model => model.softwareID) :
                            @Html.DisplayFor(model => model.softwareID)
                        </li>
                        <li class="list-group-item">
                            @Html.DisplayNameFor(model => model.softwareName) :
                            @Html.DisplayFor(model => model.softwareName)
                        </li>
                        <li class="list-group-item">
                            @Html.DisplayNameFor(model => model.dateBuy) :
                            @Html.DisplayFor(model => model.dateBuy)
                        </li>
                        <li class="list-group-item">
                            @Html.DisplayNameFor(model => model.softwareImg) :
                            @Html.DisplayFor(model => model.softwareImg)
                            <img src="~/Content/img/upload/vehicle/@Model.softwareImg" height="250" width="240">
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
