@model Test.Models.standardlist

@{
    Layout = "~/Views/Shared/_Layaccount.cshtml";
}
<script type="text/javascript">
    function AddData() {
        $('#ButtonAction').val("Update");
        $("#btnSubmit").click();
    }
</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FARMBOOK - มาตรฐานแปลง</title>
</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @using (Html.BeginForm("Create", "Standardlist", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()

        <br />
        <div class="col">
            <h4>มาตรฐานแปลง</h4>
            <hr />
            <div class="row justify-content-center">
                <div class="card border-bottom-info mb-3" style="width: 50rem;">
                    <div class="card-body">
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @*@Html.HiddenFor(model => model.ID)*@
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.IDlist, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.IDlist, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.IDlist, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.list, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.list, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.list, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.fillin, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-1">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.fillin)
                                            @Html.ValidationMessageFor(model => model.fillin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-1">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.img)
                                            @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.IDpro, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.IDpro, (IEnumerable<SelectListItem>)ViewBag.projectands, "ชื่อโปรเจค", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IDpro, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="form-group row">
                                    <div class="col-4">
                                        <a type="button" class="btn btn-danger" href="@Url.Action("Create", "Project")">
                                            <span>
                                                กลับ
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                    <div class="col-4">
                                        <a class="btn btn-warning" href="@Url.Action("Index", "Project")">
                                            <span>
                                                ข้าม
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
